In [14]:
print("Hello world from Jupyter!")

Hello world from Jupyter!

In [15]:
import time
time.sleep(4)

In [16]:
def say_hello(name):
    return 'Hello, {}'.format(name)

In [17]:
say_hello('John')

'Hello, John'

In [18]:
num1 = 10
num2 = 7

In [19]:
x=num1-num2
print(x)

3

# This is heading 1
## this is heading 2
**This is bold text** __This is bold text too__
*This is italic* _this is also italic_
you can also create lists:
* item 1 in bullets
* item 2 in bullets
you can also create numbered lists
1. item 1 in a numeric list
2. item 2 in a numeric list
[this is a link to tlu webpage](http://www.tlu.edu)

In [20]:
import numpy as np
def square(x):
    return x*x

In [21]:
x= np.random.randint(1,10)
y= square(x)
print('%d squared is: %d' % (x,y))

3 squared is: 9